@font-face {
    font-family: 'Rubik Glitch Pop';
    src: url('../fonts/RubikGlitchPop-Regular.ttf') format('truetype');
  }
  
  .font-rubik-glitch-pop {
    font-family: 'Rubik Glitch Pop', sans-serif;
  }

 
  @font-face {
    font-family: 'PixelifySans-Regular';
    src: url('../fonts/PixelifySans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .font-pixelify-sans {
    font-family: 'PixelifySans-Regular', sans-serif;
  }
  

  @font-face {
    font-family: 'Orbitron-Regular';
    src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .font-orbitron {
    font-family: 'Orbitron-Regular', sans-serif;
  }

  