@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    background-color: rebeccapurple;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (max-width: 1536px) {
    .wrapper {
      max-width: 1366px;
    }
  }

  @media screen and (max-width: 1280px) {
    .wrapper {
      max-width: 1024px;
    }
  }

  @media screen and (max-width: 1024px) {
    .wrapper {
      max-width: 768px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 640px;
    }
  }

  @media screen and (max-width: 640px) {
    .wrapper {
      max-width: 475px;
    }
  }

  @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-radius: 2px;
    }
  }

  .auth {
    @apply w-full h-lvh flex items-center justify-center;
  }

  .content {
    @apply w-1/3 py-7 px-4 max-sm:w-5/6 max-lg:w-2/3 max-xl:w-1/2 flex flex-col items-center justify-center gap-6 bg-gray-200 rounded-3xl;
  }

  .logo {
    @apply w-52 h-auto;
  }

  .form {
    @apply flex flex-col items-center gap-5;
  }

  .input {
    @apply flex items-center justify-between px-5 py-3 rounded-2xl cursor-pointer shadow-2xl text-black bg-sky-200;
  }

  .button {
    @apply w-full px-5 py-3 mt-5 mb-7 rounded-xl cursor-pointer bg-blue-100 hover:bg-blue-100 text-white;
  }

  .link {
    @apply hover:text-red-100;
  }

  .main-container {
    @apply h-screen flex justify-between gap-5 px-10 py-3 max-lg:gap-8;
  }

  
  .topbar {
    @apply top-0 sticky px-10 py-5 flex items-center justify-between bg-blue-200;
  }

  .menu {
    @apply flex items-center gap-8 max-sm:hidden;
  }

  .profilePhoto {
    @apply w-11 h-11 rounded-full object-cover object-center;
  }

 
  .bottom-bar {
    @apply fixed bottom-0 z-50 w-full flex justify-between items-center px-5 py-2 bg-white sm:hidden;
  }


  .profile-page {
    @apply mt-16 flex flex-col gap-11 items-center justify-center;
  }

  .edit-profile {
    @apply flex flex-col gap-9;
  }

  .profile {
    @apply w-1/3 max-sm:w-5/6 max-lg:w-2/3 max-xl:w-1/2 flex flex-col items-center justify-center gap-6 bg-white rounded-3xl;
  }

  .btn {
    @apply flex items-center justify-center rounded-xl p-3 bg-gradient-to-l from-blue-100 to-blue-300  text-white;
  }

  .chat-list {
    @apply h-screen flex flex-col gap-5 pb-20;
  }

  .input-search {
    @apply px-5 py-3 rounded-2xl bg-white outline-none text-black;
  }

  .chats {
    @apply flex-1 flex flex-col bg-white rounded-3xl py-4 px-3 overflow-y-scroll;
  }

  .chat-box {
    @apply flex items-start justify-between p-2 rounded-2xl cursor-pointer hover:bg-blue-200;
  }

  .current-chat {
    @apply bg-blue-2;
  }

  .last-message {
    @apply w-[120px] sm:w-[250px] truncate;
  }

  .create-chat-container {
    @apply flex flex-col gap-5;
  }

  .contact-bar {
    @apply flex gap-7 items-start max-lg:flex-col;
  }

  .contact-list {
    @apply h-screen w-1/2 max-lg:w-full flex flex-col gap-5 bg-white rounded-3xl py-5 px-8 mb-20;
  }

  .contact {
    @apply flex gap-3 items-center cursor-pointer;
  }

  .create-chat {
    @apply w-1/2 max-lg:w-full flex flex-col gap-7;
  }

  .input-group-name {
    @apply bg-white rounded-2xl px-5 py-3 outline-none text-black;
  }

  .selected-contact {
    @apply p-2 bg-blue-800 rounded-lg;
  }

  .chat-details {
    @apply h-screen flex flex-col bg-gray-700 rounded-2xl;
  }

  .chat-header {
    @apply flex items-center gap-4 px-8 py-3;
  }

  .chat-body {
    @apply flex-1 flex flex-col gap-5 bg-blue-200 p-5 overflow-y-scroll;
  }

  .message-box {
    @apply flex gap-3 items-start;
  }

  .message-profilePhoto {
    @apply w-8 h-8 rounded-full;
  }

  .message-info {
    @apply flex flex-col gap-2;
  }

  .message-photo {
    @apply w-40 h-auto rounded-lg;
  }

  .message-text {
    @apply w-fit bg-gray-200 p-3 rounded-lg;
  }

  .message-text-sender {
    @apply w-fit bg-purple-200 text-black p-3 rounded-lg;
  }

  .send-message {
    @apply w-full flex items-center justify-between px-7 py-3 rounded-3xl cursor-pointer bg-gray-400;
  }

  .prepare-message {
    @apply flex items-center gap-4;
  }

  .send-icon {
    @apply w-10 h-10 rounded-full hover:scale-125 ease-in-out duration-300;
  }

  .bottombar {
    @apply bottom-0 sticky px-10 py-5 flex items-center justify-between sm:hidden;
  }
}
