@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    background-color: rebeccapurple;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (max-width: 1536px) {
    .wrapper {
      max-width: 1366px;
    }
  }

  @media screen and (max-width: 1280px) {
    .wrapper {
      max-width: 1024px;
    }
  }

  @media screen and (max-width: 1024px) {
    .wrapper {
      max-width: 768px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 640px;
    }
  }

  @media screen and (max-width: 640px) {
    .wrapper {
      max-width: 475px;
    }
  }

  @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-radius: 2px;
    }
  }
}
